@charset "UTF-8";
html,div,p,h1,h2,h3,h4,h5,h6,ul,li,table {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
}
html,body {
	width: 100%;
	height: 100%;
}
body {
    -webkit-tap-highlight-color: transparent;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}
ul {
	list-style: none;
}
/*************底部导航*************/
.footer {
    position: fixed;
    bottom: -2px;
    /* left: 0; */
    margin: 0 auto;
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    z-index: 999;
}
.footers {
    padding: .12rem .3rem;
    display: flex;
    background-color: #fff;
}
.footer-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-icon {
    width: .57rem;
    height: .57rem;
    background-size: 100% 100%;
}
.home {
    background-image: url(../images/home.png);
}
.home-active {
    background-image: url(../images/home-active.png);
}
.earth {
    background-image: url(../images/earth.png);
}
.earth-active {
    background-image: url(../images/earth-active.png);
}
.location {
    background-image: url(../images/location.png);
}
.location-active {
    background-image: url(../images/location-active.png);
}
.kepuhuodong {
    background-image: url(../images/kepuhuodong.png);
}
.kepuhuodong-active {
    background-image: url(../images/kepuhuodong-active.png);
}
.konw {
    background-image: url(../images/konw.png);
}
.konw-active {
    background-image: url(../images/konw-active.png);
}
.footer-item>p {
    color: #929292;
    padding-top: .14rem;
    text-align: center;
    font-size: .2rem;
}
.footer-item>p.active {
    color: #231815;
}